In [3]:
import numpy as np
import pandas as pd

math = pd.Series([66, 64, 48, 46, 78])
english = pd.Series([70, 68, 46, 48, 84])
gender = pd.Series(['m', 'm', 'f', 'f', 'm'])
math

0    66
1    64
2    48
3    46
4    78
dtype: int64

In [4]:
pd.concat([math, english, gender], axis=1).reset_index()

   index   0   1  2
0      0  66  70  m
1      1  64  68  m
2      2  48  46  f
3      3  46  48  f
4      4  78  84  m