In [1]:
import pandas as pd

cdc = pd.read_csv('cdc.txt')
cdc

      genhlth "exerany" "hlthplan" "smoke100" "height" "weight" "wtdesire" "age" "gender"
0                       1 "good" 0 1 0 70 175 175 77 "m"
1                       2 "good" 0 1 1 64 125 115 33 "f"
2                       3 "good" 1 1 1 60 105 105 49 "f"
3                       4 "good" 1 1 0 66 132 124 42 "f"
4                  5 "very good" 0 1 0 61 150 130 55 "f"
...                                                  ...
19995               19996 "good" 1 1 0 66 215 140 23 "f"
19996          19997 "excellent" 0 1 0 73 200 185 35 "m"
19997               19998 "poor" 0 1 0 65 216 150 57 "f"
19998               19999 "good" 1 1 0 67 165 165 81 "f"
19999               20000 "good" 1 1 1 69 170 165 83 "m"

[20000 rows x 1 columns]